.element {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 282px 1fr;
  grid-template-columns: 206px 1fr;
  grid-template-areas: "image image"
                       "title button";
  min-height: 361px;
  position: relative;
}
